.banner-container {
    display: flex;
    align-items: center;
    padding: 50px 10px 0px 10px;
    background: linear-gradient(90deg, rgb(126 144 254 / 8%) 0%, rgb(152 115 255 / 7%) 100%);
}

/* banner blog part style */
.banner-title {
    font-weight: 800;
    font-size: 60px;
    color: #1A1919;
    margin: 0px;
}

.author-title {
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.banner-description {
    color: #757575;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.banner-button {
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    color: white;
}

/* banner img style part */

.banner-Img img {
    width: 100%;
}

/* using media query  */
@media screen and (max-width: 768px) {
    .banner-container {
        flex-direction: column;
        padding: 20px;
    }

    .banner-blog {
        text-align: center;
    }

    .banner-Img {
        padding-top: 20px;
    }
}