.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    background: linear-gradient(90deg, rgb(126 144 254 / 8%) 0%, rgb(152 115 255 / 7%) 100%);
}

.nav-link {
    display: flex;
    align-items: center;
}

.header-logo {
    color: #1A1919;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    margin: 0;
}

.nav-link a {
    margin-right: 25px;
    color: #757575;
}

.header-btn {
    color: white;
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
}

@media screen and (max-width: 768px) {
    .header-container {
        flex-direction: column;
        gap: 15px;
    }

    .nav-link {
        flex-direction: column;
        gap: 15px;
        justify-content: center;
    }

    .nav-link a {
        margin-right: 0px;
    }
}