.category-container {
    background: linear-gradient(90deg, rgb(126 144 254 / 7%) 0%, rgb(152 115 255 / 8%) 100%);
    border-radius: 8px;
    padding: 20px;
}

.category-container img {
    width: 50px;
    height: 50px;
    background: linear-gradient(90deg, rgba(126, 144, 254, 0.1) 0%, rgba(152, 115, 255, 0.1) 100%);
    border-radius: 8px;
    padding: 15px;
}

.category-container h2 {
    margin: 0px;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    color: #474747;
    margin-top: 20px;
}

.category-container p {
    color: #A3A3A3;
    margin-top: 8px;
}

/* media query  */
@media screen and (max-width: 556px) {
    .category-container {
        text-align: center;
    }
}

@media screen and (min-width: 556px) and (max-width: 768px) {
    .category-container {
        text-align: center;
    }
}