.applied-job-container {
    margin-bottom: 25px;
}

.applied-blog-part {
    display: flex;
    align-items: center;
    gap: 30px;
}

.applied-logo {
    width: 230px;
    height: 230px;
    background: #F4F4F4;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.applied-logo img {
    width: 100%;
}

.applied-job-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width:556px) {
    .applied-blog-part {
        flex-direction: column;
    }

    .applied-job-details {
        flex-direction: column;
    }

    .applied-job-details {
        display: flex;
        align-items: normal;
        justify-content: space-between;
    }

    .applied-logo {
        width: 90%;
        height: 190px;
    }

    .applied-logo img {
        height: 50px;
    }
}