.job-details-title {
    height: 200px;
    background-image: url('/public/Vector.png'), url('/public/Vector-1.png');
    background-repeat: no-repeat;
    background-position: 0% 0%, right top;
    display: flex;
    align-items: center;
    justify-content: center;
}

.job-details-title h2 {
    text-align: center;
}

.details-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.details-left-info p {
    margin: 17px 0;
}

.details-left-info span {
    font-weight: 800;
}